
.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.bg {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/73/20/0557b9c92034b39.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-shadow: 1px 3px 1px #474747;
  padding-top: 50px;
  margin: 0;
}

img {
  border-radius: 60%;  
}

.enter-site {
  width: 300px;
  height: 200px;
  display: inline-block;
  margin: 4px;
  position: relative;
  font-size: 50px;
  text-shadow: 2px 2px 2px #474747;
  padding-bottom: 50px;
}

.enter-site img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  transition: .3s;
}

.enter-site :not(img) {
  position: absolute;
  top: 20%;
  left: 0;
  z-index: 1;
  color: white;
  text-align: center;
  opacity: 0;
  transition: .3s;
}

.enter-site:hover img {
  filter:blur(2px) brightness(90%);
  box-shadow: 0 0 16px rgb(17, 129, 194);
}

.enter-site:hover :not(img) {
  opacity: 1;
}

@media only screen and (max-width: 415px) {
  .enter-site :not(img) {
    opacity: 1;
    color: rgb(60, 241, 166);
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 1px 0 #2c2c2c, 0 2px 0 #2a2a2a, 0 2px 0 #282828, 0 3px 0 #262626, 0 2px 0 #242424, 0 4px 0 #222, 0 5px 0 #202020, 0 5px 0 #1e1e1e, 0 8px 0 #1c1c1c, 0 9px 0 #1a1a1a, 0 10px 0 #181818, 0 10px 0 #161616, 0 10px 0 #141414, 0 10px 0 #121212, 0 10px 10px rgba(0,0,0,0.9);
    font-weight: bold;
    transition-delay: 4s;
  }
}
