@media only screen and (max-width: 415px) {
    .loading-header {
        background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/73/20/0557b9c92034b39.jpg");
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .loading-wrap {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .load-text {
        font: normal bold 16px 'Barriecito', serif;
        color: white;
    }

    .goals {
        background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/73/20/0557b9c92034b39.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
    }

    .goals .header-wrapper {
        background: rgb(243, 239, 239);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font: normal bold 22px 'Zilla Slab', serif;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .goals .month { 
        color: black;
    }

    .goals .arrow-icon {
        color: black;
        padding-left: 30px;
        padding-right: 30px;
        cursor: pointer;
    }

    .goals .arrow-icon:hover {
        font-size: 110%;
        color: blue;
    }
}

@media only screen and (min-width: 416px) {

    .loading-header {
        background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/73/20/0557b9c92034b39.jpg");
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .loading-wrap {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .load-text {
        font: normal bold 20px 'Barriecito', serif;
        color: white;
    }

    .goals {
        background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/73/20/0557b9c92034b39.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
    }

    .goals .header-wrapper {
        background: rgb(243, 239, 239);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font: normal bold 22px 'Zilla Slab', serif;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .goals .month { 
        color: black;
    }

    .goals .arrow-icon {
        color: black;
        padding-left: 50px;
        padding-right: 50px;
        cursor: pointer;
    }
    .goals .arrow-icon:hover {
        font-size: 110%;
        color: blue;
    }
}