.goal-card {
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
	margin: 5px;
	background: rgb(243, 239, 239);
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.goal-card .title	 {
	color: rgb(0, 0, 0);
	text-align: center;
	font: normal bold 10px 'Zilla Slab', serif; 
}

.goal-card .likes-wrapper{
	display: flex;
	flex-direction: row;
	width: 10%;
}

.goal-card .like-icon {
	color: black;
	size: 40px;
}	

.goal-card .like-icon:hover {
	color: blue;
	font-size: 120%;
	cursor: pointer;
}	

.goal-card .likes{
	font-size: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.goal-card span{
	font: 18px Arial, Helvetica, sans-serif;
	color: black;
	padding-top: 20px;
}

.goal-card .link{
	background: #948696;
	display: block;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Zilla Slab', serif; 
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 20px;
}

.goal-card .link{
	background: #611270;;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}